<div>
  <a href="{%url 'todo' letter='A'%}">A</a>
  <a href="{%url 'todo' letter='B'%}">B</a>
  <a href="{%url 'todo' letter='C'%}">C</a>
  <a href="{%url 'todo' letter='D'%}">D</a>
  <a href="{%url 'todo' letter='E'%}">E</a>
  <a href="{%url 'todo' letter='F'%}">F</a>
  <a href="{%url 'todo' letter='G'%}">G</a>
  <a href="{%url 'todo' letter='H'%}">H</a>
  <a href="{%url 'todo' letter='I'%}">I</a>
  <a href="{%url 'todo' letter='J'%}">J</a>
  <a href="{%url 'todo' letter='K'%}">K</a>
  <a href="{%url 'todo' letter='L'%}">L</a>
  <a href="{%url 'todo' letter='M'%}">M</a>
  <a href="{%url 'todo' letter='N'%}">N</a>
  <a href="{%url 'todo' letter='O'%}">O</a>
  <a href="{%url 'todo' letter='P'%}">P</a>
  <a href="{%url 'todo' letter='Q'%}">Q</a>
  <a href="{%url 'todo' letter='R'%}">R</a>
  <a href="{%url 'todo' letter='S'%}">S</a>
  <a href="{%url 'todo' letter='T'%}">T</a>
  <a href="{%url 'todo' letter='U'%}">U</a>
  <a href="{%url 'todo' letter='V'%}">V</a>
  <a href="{%url 'todo' letter='W'%}">W</a>
  <a href="{%url 'todo' letter='X'%}">X</a>
  <a href="{%url 'todo' letter='Y'%}">Y</a>
  <a href="{%url 'todo' letter='Z'%}">Z</a>


</div>
